body {
    position: relative;
    margin: 0;
    padding-bottom: 100px;
  }
  
  .footer {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #2f3030;
    padding: 24px 40px;
    border-top: 1px solid #080909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
  }
  
  .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
  }
  
  .footer ul a {
    color: #fbf6f6;
    text-decoration: none;
  }
  
  .footer ul a:hover {
    color: #908c8c;
    text-decoration: underline;
  }
  
  .footer p {
    color: #f5f3f3;
    font-size: 14px;
    margin: 0;
  }
  